<div class="postArea">
  <h2>Textbox to send text into file</h2>
  <label for="post">Write something and post to file</label>
  <div>
    <input type="text" [(ngModel)]="giveableContent">
  </div>
  <div style="margin-top: 10px;">
    <button type=button id="btn-send" (click)="send()">post</button>
  </div>
</div>

<div class="getArea" style="margin-top: 50px;">
  <h2>Textbox to receive text from file</h2>
  <label for="get">Press the button and get text from file</label>
  <div>
    <input type="text" [(ngModel)]="receivableContent">
  </div>
  <div style="margin-top: 10px;">
  <button type=button id="btn-get" (click)="get()">get</button>
  </div>
</div>
